@font-face {
  font-family: '';
  src: local('RobotoCondensed-Regular'), url(./fonts/RobotoCondensed-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Raleway-Regular';
  src: local('Raleway-Regular'), url(./fonts/Raleway-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: local('Raleway-Bold'), url(./fonts/Raleway-Bold.ttf) format('woff');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(./fonts/Roboto-Regular.ttf) format('woff');
}



body {
  margin: 0;
  font-family: 'Roboto-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-card-head-title {
  padding: 12px 12px 12px 0;
}

.ant-card-body {
  padding: 0;
}